BasedOnStyle: Google
TabWidth: 2
Language: Cpp
UseTab: ForIndentation
ColumnLimit: 120
Standard: Cpp11
DerivePointerAlignment: false
PointerAlignment: Left
FixNamespaceComments: true
ReflowComments: true
SortIncludes: true
AccessModifierOffset: 0
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
