bin/
doc/
libpros.a
libpros_sym.a
include/*.h.gch
.clang_complete
.gcc-flags.json
.project
.cproject
template/template.pros
template/src/*
!template/src/Makefile
template/include
template/firmware
.vscode/
