# IDEs
.vscode/
.idea/

# PROS
version
template/

# language servers
cquery_log.txt
compile_commands.json
.cache/
.ccls-cache/
.ccls
.clangd/

# make
temp.log
temp.errors
.d/
bin/

# cmake
include/api.h
build/

# misc
.*.sw*