.vscode/
.idea/
bin/
.*.sw*
template/
version
cquery_log.txt
compile_commands.json
.ccls-cache/
.ccls
temp.log
temp.errors
.d/
.clangd/
.cache/
include/v5_api.h
include/v5_apiprivate.h
include/v5_apitypes.h
include/v5_apiuser.h
include/v5_color.h
include/v5.h
firmware/libv5rts